<div class="container-fluid">
    <h1>Newest</h1>
    <hr class="bg-dark border-2 border-top border-dark">
    <div class="row g-3">
        <div class=" col-12 col-md-6 col-lg-3  mx-auto">
            <div class="card">
                <img src="../../../assets/images/keyboard.jpg" alt="maths stock photo" class="card-img-top"
                    >
                <div class="row g-3">
                    <div class="col-10">
                        <div class="card-body">
                            <h2 class="card-title col-10 my-1">title</h2>
                            <p class="card-text">Description</p>
                        </div>
                    </div>
                    <div class="col-2 my-auto px-1">
                        <button mat-raised-button class="editBtn">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="bg-dark border-2 border-top border-dark">
    <br>
</div>