
  <div class="container-fluid h-100 test px-5 py-4">
      <div class="card w-100  shadow  rounded">
        <div class="row test2">
            <div class="col-md-6 left ">
                <div class="row d-flex  justify-content-center ">
                    <div class="  d-flex leftCol flex-column justify-content-center mainContainer">
                        <div class="card">
                            <h1 class="mb-2 title">Welcome to ReelDeck</h1>
                            <hr class="mb-2 hr"/>
                            <p class="my-5">Welcome to ReelDeck</p>
                            <p class="bigText">Click here to browse our Decks |</p>
                            <button mat-raised-button color="primary" [routerLink]="['/','browse']">
                                TAKE ME THERE
                                <mat-icon>arrow_right</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 right m-0 p-0" >
            </div>
        </div>
      </div>
  </div>