/* mat-toolbar {
    background: #004a9f;
    color: white;
}

mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}




mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    margin-bottom: 5px;
}

.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.menu-button mat-icon {
    margin-right: 10px;
}

.name {
    margin-top: 0;
    font-weight: normal;
}

.designation {
    margin-top: 2px;
    font-size: 0.7rem;
    color: lightgrey;

} */

/* mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
} */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@300&family=Rubik:ital,wght@1,300&display=swap');




.right {
    background-image: url(../../../assets/images/keyboard.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-size: cover;

    color: white;
}


.left {
    color: black;
    display: flex;
    justify-content: center;
}

.mainContainer{
    font-weight: 700;
}
.hr{
    width: 10%;
    background-color:black;
    height: 5px;
}

.card{
    border: none;
}


.title{
    font-family: 'Dancing Script', 'arial', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

@media screen and (max-width:930px) {
   .right{
      display: none;
      background-color: orange;
    }
    .left{
        width: 500px;
        background-color: orange;
        padding: 0px;
        
    }

    .card{
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .col-md-6{
        flex-grow: 5 !important;
        background-image: url(../../../assets/images/keyboard.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
    }
}

.test2{
    height: 80vh;
    width: auto;
}

.leftCol{
   width: 100%;
}


