<div class="container-fluid col-12 col-md-6 col-xl-4 mt-5">
        <mat-card class="matCard">
            <mat-card-title class="cardTitle mb-3">🎉 Congratulations 🎉</mat-card-title>
            <mat-card-subtitle class="cardSubtitle">A link has been sent to your email. Please verify it.
            </mat-card-subtitle>
            <mat-card-content>

                <div class="btnContainer">
                    <button mat-raised-button color="warn" 
                        matTooltip="You will be sent back to login after clicking" (click)="BackToLogin()">Back to Login</button>
                </div>

            </mat-card-content>
        </mat-card>
</div>